footer.footer
    ul.footer__nav 
        li: a(href="#") About US 
        li: a(href="#") Become an Ambasador
        li: a(href="#") About US
    p.footer__copyright &copy; by Benjamin Akande. All rights reserved.

